.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header.home {
  color: white;
}

div.cards-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

div.card {
  display: flex;
  min-width: 250px;
}

div.card:not(:last-of-type) {
  margin-right: 1em;
}